* {
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  padding: 0px;
  margin: 0px; }

body {
  font-family: Raleway;
  background-color: #fbfbfb; }

::selection {
  background: rgba(217, 91, 67, 0); }

::-moz-selection {
  background: rgba(217, 91, 67, 0); }

#chanlist ::selection {
  background: rgba(217, 91, 67, 0.5);
  color: #efefef; }
#chanlist ::-moz-selection {
  background: rgba(217, 91, 67, 0.5); }

#text ::selection {
  background: rgba(83, 119, 122, 0.85);
  color: #efefef; }
#text ::-moz-selection {
  background: rgba(83, 119, 122, 0.85);
  color: #efefef; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #F0F0F0; }

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2); }

#log_end {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  height: 24px;
  pointer-events: none;
  transition: all 0.2s;
  display: block;
  opacity: 1; }
  #log_end.hidden {
    height: 0;
    opacity: 0; }

#chanbutton {
  content: "#";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  left: -44px;
  background-color: #333333;
  color: #efefef;
  font-size: 21px;
  line-height: 100%;
  text-align: center;
  border: none;
  transition: all 0.4s; }

#chanlist {
  float: left;
  width: 210px;
  padding: 12px;
  height: 100%;
  background-color: #333333;
  position: relative;
  z-index: 2;
  left: 0;
  overflow: hidden;
  margin-right: 0;
  transition: all 0.4s; }
  #chanlist h2 {
    font-weight: 200;
    font-size: 32px;
    color: #efefef;
    margin: 6px;
    text-align: center; }
    #chanlist h2:after {
      border-color: #efefef; }
  #chanlist .channel {
    font-weight: 300;
    display: block;
    margin: 6px;
    font-size: 21px; }
  #chanlist .channel a {
    position: relative;
    text-decoration: none;
    transition: all 0.2s;
    color: rgba(239, 239, 239, 0.5); }
    #chanlist .channel a:before {
      content: "#";
      color: rgba(239, 239, 239, 0.5);
      transition: all 0.2s; }
    #chanlist .channel a:hover {
      color: #efefef; }
    #chanlist .channel a:hover:before {
      color: #efefef; }
  #chanlist .channel.current a {
    color: #efefef; }
    #chanlist .channel.current a:before {
      color: #d95b43; }

@media screen and (max-width: 700px) {
  #chanbutton {
    left: -44px; }

  #text {
    left: 12px !important; }

  body.hidechanlist #chanlist {
    left: -24px;
    width: 0;
    margin-right: -24px; }
  body.hidechanlist #chanbutton {
    left: 12px; } }
#text {
  padding: 21px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 210px;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.4s; }
  #text button {
    background-color: #333333;
    color: #efefef;
    border: 1px solid #efefef;
    border-radius: 3px;
    display: block;
    height: 42px;
    padding: 12px;
    margin-left: auto;
    margin-right: auto; }
  #text button[disabled=disabled], #text button:disabled {
    background-color: #555555; }
  #text .sonic {
    display: block;
    position: fixed;
    right: 12px;
    transition: all 0.4s;
    overflow: hidden;
    pointer-events: none;
    opacity: 1; }
  #text .sonic.hidden {
    opacity: 0; }
  #text #loader_prev {
    top: 0; }
  #text #loader_next {
    bottom: 0; }

.post {
  display: block;
  margin: 24px;
  margin-bottom: 6px;
  margin-right: 6px;
  position: relative;
  /*
  	&:before{
  		content:"";
  		display:block;
  		height:1px;
  		width:100%;
  		background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  	}
  */ }
  .post .text {
    font-size: 14px; }
    .post .text a {
      color: #53777a;
      transition: all 0.2s; }
    .post .text a:hover {
      color: #033649; }
  .post .info {
    font-weight: 300;
    display: block;
    margin-bottom: 6px; }
    .post .info section, .post .info img {
      display: inline-block;
      vertical-align: middle; }
    .post .info img {
      margin-right: 12px; }
    .post .info .userid {
      display: none; }
    .post .info img {
      width: 42px;
      height: 42px;
      border-radius: 3px; }
    .post .info .bloque section {
      display: block;
      height: 50%; }
    .post .info .timestamp a {
      color: rgba(0, 0, 0, 0.2);
      text-decoration: none;
      transition: all 0.2s;
      position: relative; }
      .post .info .timestamp a:hover {
        color: rgba(0, 0, 0, 0.5); }
      .post .info .timestamp a:after {
        content: "";
        display: block;
        border-radius: 2px;
        border-top: 1px solid transparent;
        position: absolute;
        left: 1px;
        right: 1px; }
      .post .info .timestamp a:hover:after {
        transition: all 0.2s;
        border-top: 1px solid rgba(0, 0, 0, 0.5); }
  .post.subcomment {
    margin-top: 6px;
    margin-bottom: 6px; }
    .post.subcomment .info {
      display: none; }
    .post.subcomment img {
      display: none; }
