$transtime: 0.2s;

$darkback: #333333;
$lightfont: #EFEFEF;

$greyback: #FBFBFB;

$linkcolor_bar: #D95B43;
$linkcolor_text: #53777A;
$linkcolor_text_hover: #033649;

$sidebarsize: 210px;

@mixin transitions{
	transition: all $transtime;
}

@mixin transitions_long{
	transition: all 0.4s;
}

body{
	font-family:Raleway;
	background-color: $greyback;
}

*{
	box-sizing:border-box;
	padding:0px;
	margin:0px;
}

#log_end{
	font-size:24px;
	
	font-weight: 200;
	text-align: center;
	color:rgba(0,0,0,0.2);
	display:block;
	height:24px;

	@include transitions;

	display:block;
	opacity:1;

	&.hidden{
		height:0;
		opacity:0;
	}
}

#chanbutton{
		content:"#";
		display:block;
		width:32px;
		height:32px;
		position:absolute;
		top:12px;
		left:-44px;

		background-color:$darkback;
		color:$lightfont;
		
		font-size:21px;
		line-height:100%;
		text-align:center;
		border:none;

		@include transitions_long;
}

#chanlist{
	float: left;
	width: $sidebarsize;
	padding: 12px;

	height: 100%;

	background-color:$darkback;

	position: relative;
	z-index: 2;
	left:0;
	overflow:hidden;
	margin-right:0;

	@include transitions_long;

	h2{
		
		font-weight:200;
		font-size:32px;
		color: $lightfont;
		margin:6px;
		text-align:center;

		&:after{
			border-color: $lightfont;
		}
	}

	.channel{
		
		font-weight:300;
		display:block;
		margin:6px;
		font-size:21px;
	}

	.channel a{
		position:relative;
		text-decoration: none;
		@include transitions;
		color: rgba($lightfont, 0.5);

		&:before{
			content:"#";
			color: rgba($lightfont, 0.5);
			@include transitions;
		}
		&:hover{
			color: $lightfont;
		}
		&:hover:before{
			color: $lightfont;
		}
	}

	.channel.current a{
		color:$lightfont;
		&:before{
			color:$linkcolor_bar;
			
		}
	}
}

@media screen and (max-width:700px) {
	#chanlist:not(.shown){
		left:-24px;
		width:0;
		margin-right:-24px;
	}

	#chanbutton{
		left:12px;
	}

	#text{
		margin-left: 24px;
	}
}


#text{
	padding:21px;

	height:100%;
	overflow-y:scroll;

	@include transitions_long;

	button{
			background-color:$darkback;
			color: $lightfont;
			border:1px solid $lightfont;
			border-radius:3px;

			display:block;
			height:42px;
			padding:12px;

			margin-left:auto;
			margin-right:auto;
	}

	button[disabled=disabled], button:disabled{
		background-color:#555555
	}

	.sonic{
		display:block;
		position:absolute;
		right:12px;

		@include transitions;
		overflow:hidden;
	}

	.sonic.hidden{
		opacity:0;
	}

	#loader_prev{
		top:0;
	}

	#loader_next{
		bottom:0;
	}
}

#postsArea{
	
		
}

.post{
	display:block;
	margin:24px;
	margin-bottom:6px;
	position:relative;
/*
	&:before{
		content:"";
		display:block;
		height:1px;
		width:100%;
		background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
	}
*/
	
	.text{
		font-size: 14px;
		a{
			color: $linkcolor_text;
			@include transitions;
		} a:hover{
			color: $linkcolor_text_hover;
		}
	}

	.info{
		font-weight: 300;
		display:block;
		margin-bottom:6px;

		section, img{
			display:inline-block;
			vertical-align:middle;
			margin-right:12px;
		}

		.userid{
			display:none;
		}

		img{
			width:42px;
			height:42px;
			border-radius:3px;
		}

		.bloque section{
			display:block;
			height:50%;
		}

		.timestamp a{
			color:rgba(0,0,0,0.2);
			text-decoration:none;
			@include transitions;
			position:relative;

			&:hover{
				color:rgba(0,0,0,0.5);
			}

			&:after{
				content:"";
				display:block;
				border-radius:2px;
				border-top:1px solid rgba(0,0,0,0);

				position:absolute;
				left:1px;
				right:1px;
			}

			&:hover:after{
				@include transitions;
				border-top:1px solid rgba(0,0,0,0.5);
			}
		}
	}



	&.subcomment{

		margin-top:6px;
		margin-bottom:6px;

		.info{
			display:none;
		}

		img{
			display:none;
		}
	}
}