$transtime: 0.2s;

$darkback: #333333;
$lightfont: #EFEFEF;

$linkcolor_bar: #D95B43;
$linkcolor_text: #53777A;
$linkcolor_text_hover: #033649;

$sidebarsize: 210px;

*{
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

#chanlist{
  float: left;
  width: $sidebarsize;
  padding: 12px;

  height: 100%;

  background-color:$darkback;

  position: relative;
  z-index: 2;

  h2{
    font-family: Raleway;
    font-weight:200;
    font-size:32px;
    color: $lightfont;
    margin:6px;
    text-align:center;

    &:after{
      border-color: $lightfont;
    }
  }

  .channel{
    font-family: Raleway;
    font-weight:300;
    display:block;
    margin:6px;
    font-size:21px;
  }

  .channel a{
    position:relative;
    text-decoration: none;
    transition: color $transtime;
    color: rgba($lightfont, 0.5);

    &:before{
      content:"#";
      color: rgba($lightfont, 0.5);
      transition: color $transtime;
    }
    &:hover{
      color: $lightfont;
    }
    &:hover:before{
      color: $lightfont;
    }
  }

  .channel.current a{
    color:$lightfont;
    &:before{
      color:$linkcolor_bar;
      
    }
  }

}

#text{

  background-color:#FBFBFB !important;
  padding:21px;
  position:absolute;
  left: $sidebarsize;
  top:0;
  bottom:0;
  right:0;

  button{
      background-color:$darkback;
      color: $lightfont;
      border:1px solid $lightfont;
      border-radius:3px;

      display:block;
      height:42px;
      padding:12px;

      margin-left:auto;
      margin-right:auto;
  }

  button[disabled=disabled], button:disabled{
    background-color:#555555
  }
}

#postsArea{
  font-family: Raleway;
}

.post{
  display:block;
  margin:24px;
  margin-bottom:6px;
  position:relative;
/*
  &:before{
    content:"";
    display:block;
    height:1px;
    width:100%;
    background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0));
  }
*/
  
  .text{
    font-size: 14px;
    a{
      color: $linkcolor_text;
      transition: color $transtime;
    } a:hover{
      color: $linkcolor_text_hover;
    }
  }

  .info{
    font-weight: 300;
    display:block;
    margin-bottom:6px;

    section, img{
      display:inline-block;
      vertical-align:middle;
      margin-right:12px;
    }

    .userid{
      display:none;
    }

    img{
      width:42px;
      height:42px;
      border-radius:3px;
    }

    .bloque section{
      display:block;
      height:50%;
    }

    .timestamp a{
      color:rgba(0,0,0,0.2);
      text-decoration:none;
      transition:color 0.2s;
      position:relative;

      &:hover{
        color:rgba(0,0,0,0.5);
      }

      &:after{
        content:"";
        display:block;
        border-radius:2px;
        border-top:1px solid rgba(0,0,0,0);

        position:absolute;
        left:1px;
        right:1px;
      }

      &:hover:after{
        transition:border 0.2s;
        border-top:1px solid rgba(0,0,0,0.5);
      }
    }
  }



  &.subcomment{

    margin-top:6px;
    margin-bottom:6px;

    .info{
      display:none;
    }

    img{
      display:none;
    }

  }
}