<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Logbot::Error</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600'>
    <link rel='stylesheet' href="{{ url_for('static', filename='common.css') }}">
  <style>


  #error_msg{
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    min-margin-right:42px;
    min-margin-left:42px;
  }
  </style>

</head>
<body>
<section id="error_msg">
  <h1>EORROROROR</h1>
  <p>{{ msg }}</p>
</section>
</body>
</html>